html,body {
    height:100%;
    width: 100%;
    overflow:hidden;
    font-family: 'Alata', sans-serif;
    margin:0;
}

.gradients {
    height:100%;
}

.gradients div {
    height: 100%;
    position: absolute;
    width: 100%; }

#projectsDiv {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    z-index: 1000;
}

.pink {
    background: #fc963f;
    background: -webkit-gradient(linear, top, bottom, color-stop(0%, #e02d6f), color-stop(100%, #fc963f));
    background: -webkit-linear-gradient(top, #e02d6f 0%, #fc963f 100%);
    background: -moz-linear-gradient(top, #e02d6f 0%, #fc963f 100%);
    background: -o-linear-gradient(top, #e02d6f 0%, #fc963f 100%);
    background: -ms-linear-gradient(top, #e02d6f 0%, #fc963f 100%);
    background: linear-gradient(top, #e02d6f 0%, #fc963f 100%); 
}
  
  .purple {
    background: #ef75f3;
    background: -webkit-gradient(linear, top, bottom, color-stop(0%, #8217b7), color-stop(100%, #ef75f3));
    background: -webkit-linear-gradient(top, #8217b7 0%, #ef75f3 100%);
    background: -moz-linear-gradient(top, #8217b7 0%, #ef75f3 100%);
    background: -o-linear-gradient(top, #8217b7 0%, #ef75f3 100%);
    background: -ms-linear-gradient(top, #8217b7 0%, #ef75f3 100%);
    background: linear-gradient(top, #8217b7 0%, #ef75f3 100%); 
}
  
  .blue {
    background: #05d1a5;
    background: -webkit-gradient(linear, top, bottom, color-stop(0%, #194fb8), color-stop(100%, #05c6d1));
    background: -webkit-linear-gradient(top, #194fb8 0%, #05c6d1 100%);
    background: -moz-linear-gradient(top, #194fb8 0%, #05c6d1 100%);
    background: -o-linear-gradient(top, #194fb8 0%, #05c6d1 100%);
    background: -ms-linear-gradient(top, #194fb8 0%, #05c6d1 100%);
    background: linear-gradient(top, #194fb8 0%, #05c6d1 100%); 
}
  
  .green {
    background: #0ecc2e;
    background: -webkit-gradient(linear, top, bottom, color-stop(0%, #44cd9e), color-stop(100%, #0ecc2e));
    background: -webkit-linear-gradient(top, #44cd9e 0%, #0ecc2e 100%);
    background: -moz-linear-gradient(top, #44cd9e 0%, #0ecc2e 100%);
    background: -o-linear-gradient(top, #44cd9e 0%, #0ecc2e 100%);
    background: -ms-linear-gradient(top, #44cd9e 0%, #0ecc2e 100%);
    background: linear-gradient(top, #44cd9e 0%, #0ecc2e 100%); 
}
  
  .celestial {
    background: #c33764 ;
    background: -webkit-gradient(linear, top, bottom, color-stop(0%, #0fa9a8), color-stop(100%, #c33764 ));
    background: -webkit-linear-gradient(top, #0fa9a8 0%, #c33764  100%);
    background: -moz-linear-gradient(top, #0fa9a8 0%,#c33764  100%);
    background: -o-linear-gradient(top, #0fa9a8 0%, #c33764  100%);
    background: -ms-linear-gradient(top, #0fa9a8 0%, #c33764  100%);
    background: linear-gradient(top, #0fa9a8 0%, #c33764  100%); 
}
  
  .frost {
    background: #000428 ;
    background: -webkit-gradient(linear, top, bottom, color-stop(0%, #2cbedf), color-stop(100%, #000428 ));
    background: -webkit-linear-gradient(top, #2cbedf 0%, #000428  100%);
    background: -moz-linear-gradient(top, #2cbedf 0%, #000428  100%);
    background: -o-linear-gradient(top, #2cbedf 0%, #000428  100%);
    background: -ms-linear-gradient(top, #2cbedf 0%, #000428  100%);
    background: linear-gradient(top, #2cbedf 0%, #000428  100%); 
}
  
  .current {
    opacity: 0; 
}