body {
    background-color: rgb(28, 28, 105);
    color: white;
    font-family: 'Alata', sans-serif;
    display: flex;
    justify-content: center;
}

#headings {
    width: 100%;
    height:100%;
}


